.br-tl-1 {
    border-radius: 1em 0 0 0;
}
.br-tr-1 {
    border-radius: 0 1em 0 0;
}
.br-bl-1 {
    border-radius: 0 0 0 1em;
}
.br-br-1 {
    border-radius: 0 0 1em 0;
}

.br-1 {
    border-radius: 1em;
}

.rounded {
    border-radius: 50%;
}