$primary-0: rgba( 32, 74,106,1);
$primary-1: rgba( 14, 26, 35,1);
$primary-2: rgba( 24, 50, 70,1);
$primary-3: rgba( 36, 99,148,1);
$primary-4: rgba(108, 164, 207,1);




$danger-0: rgba(170, 60, 57,1);
$danger-1: rgba(255, 11,  5,1);
$danger-2: rgba(212,109,106,1);
$danger-3: rgba(128, 24, 21,1);
$danger-4: rgba( 85,  2,  0,1);


$warning-0: rgba(175, 92, 11,1);	
$warning-1: rgba(227,149, 72,1);
$warning-2: rgba(212,119, 28,1);
$warning-3: rgba(145, 72,  0,1);
$warning-4: rgba(107, 53,  0,1);


$success-0: rgba(  6,120,  6,1);
$success-1: rgba(  1,188,  1,1);
$success-2: rgba(  9,149,  9,1);
$success-3: rgba(  0, 84,  0,1);
$success-4: rgba(  0, 50,  0,1);



$secondary-0: rgba( 32, 74,106,1);
$secondary-1: rgba( 14, 26, 35,1);
$secondary-2: rgba( 24, 50, 70,1);
$secondary-3: rgba( 36, 99,148,1);
$secondary-4: rgba( 41,130,198,1);



